/*--------------MOBILE--------------------*/

body {
  background-color: lime;
}

main {
  min-height: 100vh;
}

div[id="calculator"] {
  border-radius: 5px;
  width: 300px;
}

div[id="display"] > label {
  margin: 0;
  min-height: 40px;
  text-align: right;
}

label[id="equation"] {
  color: gold;
  font-size: 1.2em;
  word-wrap: break-word;
}

label[id="current-input"] {
  color: white;
  font-size: 1.5em;
}

div[id="buttons"] {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
}

input[type="button"] {
  font-size: 1.7em;
}

input[type="button"]:hover {
  color: cyan;
}

input[id="clear"],
input[id="zero"] {
  grid-column: 1 / 3;
}

input[id="equals"] {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

@media (min-width: 360px) {
  div[id="calculator"] {
    border-radius: 8px;
    width: 340px;
  }

  div[id="display"] > label {
    min-height: 50px;
  }

  label[id="equation"] {
    font-size: 1.4em;
  }

  label[id="current-input"] {
    font-size: 1.7em;
  }

  div[id="buttons"] {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
  }

  input[type="button"] {
    font-size: 2em;
  }
}

@media (min-width: 400px) {
  div[id="calculator"] {
    border-radius: 11px;
    width: 390px;
  }

  div[id="display"] > label {
    min-height: 60px;
  }

  label[id="equation"] {
    font-size: 1.6em;
  }

  label[id="current-input"] {
    font-size: 1.9em;
  }

  div[id="buttons"] {
    grid-template-columns: repeat(4, 92px);
    grid-template-rows: repeat(5, 92px);
  }

  input[type="button"] {
    font-size: 2.3em;
  }
}

/*--------------DESKTOP--------------------*/

@media (min-width: 601px) {
  body {
    background-color: magenta;
  }
}
